.js .lightBoxActive {
	overflow-y: hidden;
}

.lightBoxWrapper, .lightBoxInner {
    display: none;
}

.lightBoxWrapper {
    background: url(../../img/bg_lightbox.png) left top repeat;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.lightBoxInner {
    background: white;
    position: absolute;
    z-index: 3;
    border: 5px solid #fff;
}

.lightBoxInnerPages {
	background: transparent;
    border: 0 none;
	padding: 20px;
}

.lightBoxInner img {
    display: block;
    border: 1px solid #ccc;
}

/* buttons */
.generic_btn,
.generic_btn span{
	background: url(../../img/sprites/button_sprite.png) left top no-repeat;
	padding: 0 0 1px 20px;
	color: #fff;
	text-decoration: none;
	font-family: "Lucida-Regular", Arial, Tahoma;
	display: inline-block;
}
.btn_pink,
.btn_pink span {
	background: url(../../img/sprites/button_sprite.png) left top no-repeat;
	padding: 0 0 1px 20px;
	color: #fff;
	text-decoration: none;
	font-family: "Lucida-Regular", Arial, Tahoma;
	display: inline-block;
}
.btn_pink span {
	background-position: right -44px;
	padding: 14px 20px 11px 0;
}

.btn_cyan {
	background-position: left -160px;
}

.btn_cyan span {
	background-position: right -209px;
	padding: 16px 20px 12px 0;
}

.btnAddMore {
	background: url("../../img/sprites/content_sprite.png") no-repeat scroll -469px -2908px transparent;
	display: inline-block;
	height: 25px;
	margin-left: -32px;
	margin-top: 5px;
	text-indent: -999em;
	width: 25px;
}

/* Tabs */

.tabs li {
	background: url("../../img/sprites/content_sprite.png") no-repeat scroll 0 -209px transparent;
	height: 36px;
	text-align: center;
	width: 175px;
	display: inline-block;
}


.tabs li.active {
    background: url("../../img/sprites/content_sprite.png") no-repeat scroll 0 -344px transparent;
}

.tabs li:hover,
.tabs li:focus {
}

.tabs li.title:hover,
.tabs li.title:focus {
	background-position: 0 -209px;
}

.tabs li a {
	display: inline-block;
	padding: 10px 14px 0 14px;
	font-size: 0.937em;
	text-decoration: none;
	font-family: "Lucida-Regular", Arial, Tahoma;
	color: #666666;
}

.tabs .title span {
	padding-top: 6px;
	display: block;
}

.ie7 .tabs li {
	display:inline;
	zoom:1;
}

/* horizontal line <hr/> */

hr {
	background-color: #cccccc;
	border: 0 none;
	color: #eee;
	height: 1px;
	margin: 20px 0;
}

/* generic */
.genericContainer,
.genericContainer1  {
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	box-shadow: 0.8px 2px 2px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0.8px 2px 2px 1px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0.8px 2px 2px 1px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0.8px 2px 2px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0.8px 2px 2px 1px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	padding: 10px;
	margin-bottom: 20px;
}

.genericContainer1 {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	padding: 15px;
}

.genericContainer h4,
.genericContainer1 h4 {
	color: #353535;
}

.flayer {
	background: url("../../img/sprites/content_sprite.png") no-repeat scroll -324px -1814px transparent;
	color: #000000;
	font-size: 0.812em;
	font-weight: bold;
	padding: 5px 0 6px 20px;
}

.thumbCollection img {
	display: block;
	margin: 0 0 3px 0;
}

.thumbCollection .bigThumb img {
	margin: 0;
    width: 100%;
}

.thumbCollection .bigThumb img:first-child {
	margin: 0;
}


/* Generic Icons */

.iconsInline {
	overflow: hidden;
}

.iconsInline li {
	float: left;
	margin-right: 10px;
}

.genericIcons {
	background: url("../../img/sprites/content_sprite.png") no-repeat scroll left -2177px transparent;
	display: inline-block;
	height: 27px;
	text-indent: -999em;
	width: 27px;
	margin-right: 5px;
}

.iconAddToFavorite {
	background-position: -471px -2207px;
}

.iconFacebook {
	background-position: left -2107px;
}

.iconTwitter {
	background-position: -36px -2107px;
}

.iconEmail {
	background-position: -73px -2107px;
}


/* counts
	This class is used when you have to desplay any numbers regarding Number of Likes, Number of Favorites towards bundle or an image
*/

.count {
	background-color: #E2D7C3;
	border-radius: 10px 10px 10px 10px;
	color: #745D5F;
	font-size: 0.75em;
	margin-left: 5px;
	padding: 5px 10px;
}

/* Form elements Add new (Location) remove entered locations */

.signUpForm .newEntry,
.uploadImage .newEntry {
	margin-left: 119px;
	width: 348px;
}

.signUpForm .newEntry li,
.uploadImage .newEntry li {
	background-color: #F6F6F6;
	margin-bottom: 10px;
	padding: 10px;
}

.signUpForm li .removeEntry,
.newEntry li .removeEntry {
	background: url("../../img/sprites/content_sprite.png") no-repeat scroll left -1722px transparent;
	display: inline-block;
	float: right;
	height: 16px;
	margin-top: 3px;
	text-indent: -999em;
	width: 16px;
}



/****Select box****/
.chzn-container.chzn-container-single {
	width: 245px !important;
}
.chzn-container-single .chzn-search {
	height: 34px;
	padding:0;
}
.chzn-container-single .chzn-single {
	background-color: #F3F3F3;
	background-image: none;
    border: 1px solid #BEBEBE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: none;
    color: #9A9595;
    padding: 5px 4px;
}
.chzn-container.chzn-container-single .chzn-drop {
	width: 244px !important;
}
.chzn-container-active .chzn-single-with-drop {
	background-image: none;
	box-shadow: none;
}
.chzn-container-single .chzn-single span {
	margin-right: 0;
}
.chzn-container-single .chzn-single div b {
	background: url("../../img/popup_select_arrow.png") no-repeat scroll left top transparent;
    border: 0 none;
    height: 24px;
    margin-left: -6px;
    margin-top: 4px;
    text-indent: -999em;
    width: 22px;
}
.chzn-container .chzn-results {
	margin-right: 0;
	padding-left: 0;
}
.chzn-container .chzn-results .highlighted {
    background-color: #E8747F;
    background-image: none;
}