/*
 *	Think Shaadi - Fonts.css
 *	File sets out font styles
 *	By Ashi
 ============================================================================ */



/* ==========================================================================
	Common font styles:
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%;
    font-family: Tahoma, Arial, sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

@font-face {
    font-family: 'Lucida-Regular';
    src: url('../../fonts/lucida_grande.eot');
    src: url('../../fonts/lucida_grande.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/lucida_grande.woff') format('woff'),
    url('../../fonts/lucida_grande.ttf') format('truetype');
}

@font-face {
    font-family: 'Lucida-Bold';
    src: url('../../fonts/lucida_grande_bold.eot');
    src: url('../../fonts/lucida_grande_bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/lucida_grande_bold.woff') format('woff'),
    url('../../fonts/lucida_grande_bold.ttf') format('truetype');
}