/*
 *	Think Shaadi - Grid.css
 *	File sets out grid layout for all templates
 *	By ashi
 ============================================================================ */



/* ==========================================================================
	Grid styles - common elements:
   ========================================================================== */
.header,
.footer,
.main {
    width: 100%;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.main {
    padding-top: 39px;
}

.cols:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;    
}

.ie7 .cols {
    zoom: 1;
}

.ie6 .cols {
    height: 1%;
}

/* ==========================================================================
	Grid styles - Vendor Details (2 column):
   ========================================================================== */

.twoColumn .col1{
	width: 735px;
	float: left;
}
.twoColumn .col2{
	width: 242px;
	margin-left: 23px;
	float: right;
}
.twoColumn .col2 .sectionHeading{
	background-color: #e8747f;
	color: #fff;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	font-size: 1em;
}


/* ==========================================================================
	Grid styles - homepage template (with banners):
   ========================================================================== */

/* ==========================================================================
    Grid styles - Account Changes template
    Grid styles - Loan information template
    Grid styles - Help with PPI template
   ========================================================================== */

.ajax-progress {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../img/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9;
}

.ajax-progress div {
    display: none;
}