body{
    text-align:center;
}

#wrapper{
    text-align:left;
}

.contentWrapper{
    width:780px;
}

.contentWrapper form .checkBx input{
    border:0 none;
}

.contentWrapper form input{
    height:35px;
}

.contentWrapper form .checkBx input{
    height:auto;
}

.eventWrapper{
    margin-top:0px;
}