.footer {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
}

.footer .wrapper {
    position: relative;
    padding: 20px 0;
}

.footer ul {
    text-align: center;
    overflow: hidden;
}

.footer ul li {
    display: inline-block;
    margin: 0 8px;
}

.footer ul.socialMedia li a,
.betaWrapper .social ul.socialMedia li a {
    background: url("../../img/sprites/content_sprite.png") no-repeat scroll 0 -1599px transparent;
    display: block;
    height: 27px;
    text-indent: -9999em;
    width: 27px;
}

.footer ul.socialMedia li .twitter,
.betaWrapper .social ul.socialMedia li .twitter {
    background-position: -45px -1599px;
}

.footer ul.socialMedia li .googlePlus,
.betaWrapper .social ul.socialMedia li .googlePlus {
    background-position: -90px -1599px;
}

.footer ul.socialMedia li .pinterest,
.betaWrapper .social ul.socialMedia li .pinterest {
    background-position: -135px -1599px;
}

.betaWrapper .social {
    float: right;
}

.betaWrapper .social ul.socialMedia {
    margin: 0;
}

.betaWrapper .social ul.socialMedia li {
    float: left;
    margin-left: 0;
    padding-left: 5px;
    background: none;
}

.footer ul.footerLinks {
    font-family: "Lucida-Bold";
    font-size: 0.75em;
    margin: 20px 0 10px 0;
}

.footer ul.footerLinks li {
    background: url("../../img/sprites/content_sprite.png") 0 -753px no-repeat;
    padding: 0 0 0 14px;
    margin: 0 0 0 10px;
}

.footer ul.footerLinks li:first-child {
    background: none;
}

.footer ul.footerLinks a {
    color: #e8747f;
    text-decoration: none;
}

.footer p {
    color: #e8747f;
    font-family: "lucida-regular";
    font-size: 0.75em;
}

.footer .linkBackToTop,
.footer .btnClose {
    position: absolute;
    background: url("../../img/sprites/content_sprite.png") 0 -1275px no-repeat;
    display: block;
    text-indent: -999em;
}

.footer .linkBackToTop {
    width: 65px;
    height: 65px;
    background-position: -263px -1391px;
    right: 30px;
    top: 40px;
}

.footer .btnClose {
    top: 10px;
    right: 0;
    width: 15px;
    height: 15px;
    background-position: 0 -1723px;
}