.colorOptions {
    left: -461px;
    position: fixed;
    width: 550px;
    z-index: 9;
 }

.colorOptions .heading {
	background: url("../../img/sprites/bg_flyerHeader.png") right -87px no-repeat transparent;
	z-index: 9;
	position: relative;
}

.colorOptions .heading span {
	padding: 19px 0;
	text-align: center;
	background: url("../../img/sprites/bg_flyerHeader.png") left top no-repeat transparent;
	height: 25px;
	margin: 0 88px 0 0;
	display: block;
}

.colorOptions .heading span h2 {
	color: white;
	margin-bottom: 0;
	font-family: "Lucida-Regular", Arial, Tahoma;
	margin-right: -88px;
	text-shadow: 1px 1px 2px #000;
	filter: dropshadow(color=#000, offx=1, offy=1);
}

.colorOptions .colors {
	padding: 13px 24px 0;
	width: 331px;
	margin: -4px auto 0 auto;
	background: white;
	display: block;
    box-shadow: -3px -3px 14px 3px rgba(0, 0, 0, 0.1) inset;
    -miz-box-shadow: -3px -3px 14px 3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: -3px -3px 14px 3px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: -3px -3px 14px 3px rgba(0, 0, 0, 0.1) inset;
}

.colorOptions .colors li {
	display: inline-block;
}

.ie7 .colorOptions .colors li {
	display: inline;
}

.colorOptions .colors li a,
.uploadImage .colors li,
.form-item-field-colors-und #edit-field-colors-und > div {
	width: 37px;
	height: 37px;
	border-radius: 18px;
	display: block;
	text-indent: -999em;
	margin: 0 7px 15px 7px;
	-moz-box-shadow: inset 1px 2px 8px 1px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: inset 1px 2px 8px 1px rgba(0, 0, 0, 0.2);
	-o-box-shadow: inset 1px 2px 8px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 1px 2px 8px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 2px 8px 1px rgba(0, 0, 0, 0.2);
}
.uploadImage .colors li,
.form-item-field-colors-und #edit-field-colors-und > div{
    width: 32px;
    height: 32px;
    border-radius: 25px;
}

.ie7 .colorOptions .colors li a,
.ie8 .colorOptions .colors li a {
    border: 1px solid #ccc;
}

.white {background-color: #fff;}
.yellow {background-color: #ffd200;}
.pink {background-color: #ff739a;}
.red {background-color: #fe0000;}
.lBlue {background-color: #76b9fd;}
.lGreen {background-color: #42e54a;}
.black {background-color: #000000;}
.orange {background-color: #ff6d00;}
.purple {background-color: #df0097;}
.maroon {background-color: #80011f;}
.sBlue {background-color: #0760ba;}
.green {background-color: #07a60e;}
.blue {background-color: #0000ff}

.colorOptions .btnCloseColor,
.colorOptions .linkToggleViewColor {
	position: absolute;
	right: 34px;
	top: 12px;
	background: url(../../img/sprites/content_sprite.png) left -1893px no-repeat;
	z-index: 10;
	width: 36px;
	height: 36px;
	text-indent: -999em;
}

.colorOptions .linkToggleViewColor {
    background-position: -462px -803px;
}
