.login, .signUp {
	width: 840px;
	padding: 30px;
	background: #f3f3f3;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border: 5px solid #8b8b8b;
	position: relative;
}

.login {
	width: 735px;
}

.signUp .btnClose,
.login .btnClose {
	position: absolute;
	top: -16px;
	right: -16px;
	background: url(../../img/sprites/content_sprite.png) left -1893px no-repeat;
	text-indent: -999em;
	width: 34px;
	height: 35px;
}

.signUp h2 {
	font-family: "Lucida-Regular", Arial, Tahoma;
	color: #000;
	font-size: 1.25em;
	text-align: center;
}

.signUp .col1 h2 {
	border-bottom: 1px solid #cccccc;
	padding: 0 0 14px 14px;
	text-align: left;
}

.signUp label {
    color: #E8747F;
    display: inline-block;
    font-family: lucida-regular,tahoma,arial;
    font-size: 1.09em;
    font-weight: normal;
    width: 165px;
    margin-top: 10px;
}

.signUp input[type="text"],
.signUp input[type="password"]{
	/*margin-bottom: 20px;*/
	/*font-size: 0.75em;*/
	padding: 5px;
	border-radius: 3px;
	min-width: 235px;
	border: 1px solid #bebebe;
}

.signUp .rememberMe,
.signUp .loginCTA,
.signUp .forgotPass {
	margin-left: 148px;
	display: inline-block;
}

.signUp .rememberMe label,
.signUp .rememberMe input {
	float: left;
}

.signUp .loginCTA {
	/*margin-top: 15px;
	margin-bottom: 15px;*/
}

.signUp .loginCTA input {
	background: url(../../img/sprites/btn_inputs.png) left -112px no-repeat;
	border: 0 none;
	width: 130px;
	height: 39px;
	text-indent: -999em;
}

.signUp .rememberMe label {
	color: #000;
	font-size: 0.75em;
	margin-left: 10px;
	margin-top: -5px;
}
.signUp .forgotPass a {
	color: #ea7d88;
	font-size: 0.75em;
}

.signUp .cols .col1,
.signUp .cols .col2{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	padding: 25px 21px;
	background: #fff;
	-webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
	box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.signUp .cols .col1 {
	width: 430px;
	float: left;
}

.signUp .cols .col2 {
	width: 307px;
	float: right;
	text-align: center;
}
.signUp .cols .col2 p {
	width: 238px;
	margin: 10px auto 0 auto;
	font-size: 0.687em;
}

.signUp .btn_joinNow {
	display: inline-block;
	margin-top: 5px;
}

.signUp .btn_facebbokLogin img {
	border: 0 none;
	display: inline-block;
}

/* for drupal */

.signUp #modal-content {
    padding: 0;
    margin-top: -21px;
}

.modal-forms-modal-content .signUp .cols .col1 {
    box-shadow: none;
    padding: 0;
    margin-top: 0;
}

.signUp p {
    font-size: 1em;
}

.signUp .form-item,
.signUp .form-actions {
    margin-bottom: 20px;
    margin-top: 0;
}
.signUp .form-item {
	float: left;
	width: 100%;
}
/*.signUp .form-item .form-item {
	margin-bottom: 0;
}*/
.signUp .form-type-radio {
	margin-bottom: 0;
}
.signUp .form-item-field-description-und-0-value label {
	margin-top: 0;
}
.signUp .grippie {
	margin-bottom: 0;
}

.signUp .form-item-remember-me {
    margin-left: 150px;
    width: auto;
}

/***Vendor resgistration form Start***/
.page-vendor-register .content.oneColumn {
	background: none; /****use this css for remove content class bg border image from vendor Register form page only***/
}
.vendorRegForm {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
	margin:0 auto;
	margin-top: 15px;
	padding: 10px 21px 20px 21px;
	width: 693px;
}
.vendorRegForm h2 {
	color: #000000;
    font-size: 1.125em;
    line-height: 1.222em;
}
.vendorRegForm label {
    color: #E8747F;
    float: left;
    font-size: 0.812em;
    margin-top: 10px;
    width: 160px;
}
.vendorRegForm .nameWrapper #edit-field-first-name,
.vendorRegForm .nameWrapper #edit-field-last-name {
	/*float: left;*/
}
.vendorRegForm .nameWrapper #edit-field-last-name {
	margin-left: 5px;
}
.vendorRegForm input[type="text"], 
.vendorRegForm input[type="password"],
.vendorRegForm select {
	background-color: #F3F3F3;
    border: 1px solid #BEBEBE;
    border-radius: 3px 3px 3px 3px;
    color: #9A9595;
    font-size: 0.75em;
    padding: 8px 4px;
    width: 235px;
}
.vendorRegForm textarea {
	width: 245px;
}
.vendorRegForm .chzn-drop .chzn-search input {
	width:234px !important;
}
.vendorRegForm select {
	width: 245px;
}
.vendorRegForm .form-item {
	margin-bottom: 20px;
}
.vendorRegForm div.password-confirm {
	display: none;
}
/***Vendor resgistration form End***/

/*** Upload Image/Video ***/

.uploadTabs {
    text-align: center;
}

.uploadTabs > li {
    margin: 0 20px;
    display: inline-block;
    width: 163px;
    height: 43px;
}

.uploadTabs > li > a {
    background: url("../../img/sprites/content_sprite.png") no-repeat scroll right -3336px transparent;
    display: block;
    height: 45px;
    text-indent: -999em;
    width: 163px;
}

.uploadTabs > li:last-child > a {
    background: url("../../img/sprites/content_sprite.png") no-repeat scroll right -3433px transparent;
}

/*Add options*/

.lightBoxInnerPages #edit-option {
    clear: none;
}

.lightBoxInnerPages #edit-option > .form-type-radio {
    float: left;
    width: 98px;
}

.lightBoxInnerPages .edit-option > .form-type-radio input[type="radio"] {
    display: inline-block;
    margin-top: -3px;
}

#vendor-options-form .btn_saveoption {
    float: left;
    padding-top: 50px;
    width: 100%;
}

#vendor-options-form .btn_saveoption > input[type="submit"],
#vendor-deals-form .btn_savedeal > input[type="submit"] {
    background: url("../../img/sprites/btn_inputs.png") no-repeat scroll left -458px transparent;
    border: 0 none;
    height: 44px;
    text-indent: -999em;
    width: 156px;
}

#vendor-deals-form .btn_savedeal > input[type="submit"] {
    background-position: left -530px;
}

.signUp #vendor-deals-form textarea {
    width: 475px;
}

.signUp #vendor-deals-form .dealTitle {
    font-weight: bold;
}

.signUp #vendor-deals-form label {
    width: 56px;
}