.login {
	text-align: center;
}

.login hr {
	margin-top: 10px;
}

.login img  {
	border: 0 none;
}

.login .tabContentWrapper,
.uploadImage .tabContentWrapper {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
	padding: 10px 21px 20px 21px;
	margin-top: 1px;
}

.login .tabContentWrapper .alertVendorLogin a,
.login .tabContentWrapper .alertVendorLogin {
	color: #e8747f;
}

.login .tabContentWrapper .alertVendorLogin a {
	text-decoration: underline;
}

.login .btn_facebbokLogin {
	display: inline-block;
}

.login .signUpForm {
	padding: 0 20px;
	font-family: lucida-regular, tahoma, arial;
}

.astrix {
	color: #E8747F;
	font-weight: bold;
}

.login .signUpForm .helpText {
	color: #cabfad;
	font-size: 0.687em;
}

.login .signUpForm li,
.uploadImage li {
	margin-bottom: 20px;
}
.login .signUpForm h2 {color: #000000}

.login .signUpForm ul,
.login .signUpForm h2,
.login .signUpForm p {
	text-align: left;
}

.login .signUpForm label {
	color: #E8747F;
	display: inline-block;
	font-size: 0.812em;
	width: 130px;
}

.login input[type="text"],
.login input[type="password"],
.login select,
.uploadImage input[type="text"],
.uploadImage input[type="password"],
.uploadImage select{
	width: 200px;
	border-radius: 3px;
	background-color: #f3f3f3;
	border: 1px solid #bebebe;
	padding: 8px 4px;
	/*font-size: 0.75em;*/
	color: #000;
}
.uploadImage select {
	width: 245px;
}

/*.grippie,
.form-type-select select  {
    margin-bottom: 20px;
}*/

.login .signUpForm select {
	width: 210px;
}

.login .signUpForm a {
	color: #e8747f;
	font-size: 0.75em;
}

.login .signUpForm .btn_createAccount {
	font-size: 1em;
}