.uploadImage {
	width: 575px;
}
.password-confirm {

}

.uploadImage h2 {
	padding-top: 15px;
	text-align: left;
}

.uploadImage textarea {
    width: 360px;
}

.uploadImage textarea,
.signUp textarea {
	resize: none;
	display: inline-block;
	margin-top: 10px;
}

.uploadImage label {
	float: left;
}

.uploadImage .colors,
.form-item-field-colors-und #edit-field-colors-und {
	display: table;
	width: 307px;
}

.form-item-field-colors-und #edit-field-colors-und {
    clear: none;
}

.uploadImage .colors li,
.form-item-field-colors-und #edit-field-colors-und > div{
	float: left;
	text-indent: 0;
}

.form-item-field-colors-und #edit-field-colors-und > div label {
    text-indent: -9999em;
}

.uploadImage .colors li input,
.form-item-field-colors-und #edit-field-colors-und > div input[type="checkbox"]{
	margin: 17px 0 0 17px;
}
/****In upload image pop up searching auto data css code****/
#autocomplete,
#autocomplete li {
	background-color: #f3f3f3;
	margin: 3px 0;
	padding:0;
}
#autocomplete li div {
	padding: 0 3px;
}
.form-item select option {
	margin: 3px 0;
}