/**** edit profile ****/
.vendorProfile .details .profileFormDiv .chzn-container.chzn-container-multi ul.chzn-choices {
	margin-top: 0;
}
.vendorProfile .details .profileFormDiv .chzn-container-multi .chzn-choices .search-field {
	background:none;
}
.vendorProfile .details .profileFormDiv .form-item-service-worldwide {
    display: inline-block;
    margin-right: 20px;
}
.vendorProfile .details .profileFormDiv .form-item-locations,
.vendorProfile .details .profileFormDiv .form-item-category,
.vendorProfile .details .profileFormDiv .form-item-email,
.vendorProfile .details .profileFormDiv .form-item-website,
.vendorProfile .details .profileFormDiv .form-item-twitter,
.vendorProfile .details .profileFormDiv .form-item-facebook,
.vendorProfile .details .profileFormDiv .form-item-phoneno,
.vendorProfile .details .profileFormDiv .form-item-service-locations,
.vendorProfile .details .profileFormDiv .form-item-service-state,
.vendorProfile .details .profileFormDiv .form-item-service-country {
	background: url("../../img/sprites/vendor_detail_sprite.png") no-repeat scroll left top transparent;
	margin-left: 10px;
	padding-left: 30px;
}
.vendorProfile .details .profileFormDiv .form-item {
	margin-bottom: 10px;
}

.vendorProfile .details .profileFormDiv .form-item-service-locations,
.vendorProfile .details .profileFormDiv .form-item-service-state,
.vendorProfile .details .profileFormDiv .form-item-service-country {
    background-position: left 27px;
}

.vendorProfile .details .profileFormDiv .form-item-locations {
	background-position: left 24px;	
}
.vendorProfile .details .profileFormDiv .form-item-category {
	background-position: -76px -3px;
}
.vendorProfile .details .profileFormDiv .form-item-email {
	background-position: left -233px;
}
.vendorProfile .details .profileFormDiv .form-item-website {
	background-position: left -186px;
}
.vendorProfile .details .profileFormDiv .form-item-twitter {
	background-position: left -330px;
}
.vendorProfile .details .profileFormDiv .form-item-facebook {
	background-position: left -282px;	
}
.vendorProfile .details .profileFormDiv .form-item-phoneno {
	background-position: left -135px;
}
.vendorProfile .details .profileFormDiv #edit-submit--2.form-submit {
	float: right;
}
.vendorProfile .details .profileFormDiv .cancel {
	float: right;
	margin-right: 10px;
}
.vendorProfile .details .profileFormDiv .ajax-progress.ajax-progress-throbber {
    display: none;
}
/***Input buttons style***/
.btn_createAccount input {
	background: url("../../img/sprites/btn_inputs.png") no-repeat scroll left -55px transparent;
    border: 0 none;
    height: 44px;
    text-indent: -999em;
    width: 156px;
}
.btn_uploadImage input {
	background: url("../../img/sprites/btn_inputs.png") no-repeat scroll left top transparent;
    border: 0 none;
    height: 44px;
    text-indent: -999em;
    width: 156px;
}
.btn_saveChanges input,
.faqContent .edit a {
	background-color: #8BD2BE;
	border: 0;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 0.75em;
    padding: 3px 10px;
    text-decoration: none;
}
.faqContent .edit {
    display: block;
}
.btn_createBundle input {
	background: url("../../img/sprites/btn_inputs.png") no-repeat scroll left -155px transparent;
    border: 0 none;
    height: 44px;
    text-indent: -999em;
    width: 156px;
}
.btn_saveBundle input {
	background: url("../../img/sprites/btn_inputs.png") no-repeat scroll left -321px transparent;
    border: 0 none;
    height: 44px;
    text-indent: -999em;
    width: 156px;
}
.btn_deleteBundle input {
	background: url("../../img/sprites/btn_sprite_delete.png") no-repeat scroll left 1px transparent;
    border: 0 none;
    height: 44px;
    text-indent: -999em;
    width: 136px;
}
.btn_deleteImage input {
	background: url("../../img/sprites/btn_sprite_delete.png") no-repeat scroll left -46px transparent;
    border: 0 none;
    height: 44px;
    text-indent: -999em;
    width: 136px;
}
.btn_forgotPassword input {
	background: url("../../img/sprites/btn_inputs.png") no-repeat scroll left -210px transparent;
    border: 0 none;
    height: 44px;
    text-indent: -999em;
    width: 156px;
}
.btn_saveImage input {
	background: url("../../img/sprites/btn_inputs.png") no-repeat scroll left -263px transparent;
    border: 0 none;
    height: 44px;
    text-indent: -999em;
    width: 156px;
}
.btn_changePWD input {
    background: url("../../img/sprites/btn_inputs.png") no-repeat scroll left -385px transparent;
    border: 0 none;
    height: 44px;
    text-indent: -999em;
    width: 156px;
}
.form-managed-file input.form-submit {
	background: url("../../img/btn_upload_small.png") no-repeat scroll left top transparent;
    border: 0 none;
    height: 31px;
    margin-left: 5px;
    text-indent: -999em;
    width: 91px;
}
.profileForm .btn_saveChanges {
	display: inline-block;
	margin-right: 10px;
}
.popups-container .tabContentWrapper .btn_saveBundle,
.popups-container .tabContentWrapper .btn_deleteBundle,
.popups-container .tabContentWrapper .btn_deleteImage,
.popups-container .tabContentWrapper .btn_saveImage {
	display: inline-block;
	margin-right: 10px;
}
.cancel,
.faqContent a.cancelFaq {
	color: #fff;
    background-color: #d3d3d3;
    padding: 1px 10px;
    font-size: 0.75em;
    border-radius: 5px;
    text-decoration: none;
}
.faqContent .btn_saveChanges {
    float: left;
    margin-right: 10px;
}

/***edit button style***/
.btn_small_pink {
	background: url(../../../assets/img/bg_button_small.png) no-repeat scroll left top transparent;
    color: #FFFFFF;
    display: inline-block;
    font-family: "Lucida-Regular",Arial,Tahoma;
    padding: 0 0 0 20px;
    text-decoration: none;
    margin-top: 20px;
}
.btn_small_pink span {
    background: url(../../../assets/img/bg_button_small.png) no-repeat scroll right -13px transparent;
    color: #FFFFFF;
    display: inline-block;
    font-family: "Lucida-Regular",Arial,Tahoma;
    font-size: 0.8125em;
    padding: 5px 18px 3px 0;
}
/***Input buttons style***/