.topHeader {
    background: #e8747f;
    padding: 6px 0;
    font-family: "Lucida-Regular";
}

.topHeader ul {
    float: left;
    margin-top: 3px;
}

.topHeader ul li {
    background: url("../../img/sprites/content_sprite.png") no-repeat scroll -1px 6px transparent;
    float: left;
    margin-left: 13px;
    padding-left: 13px;
}

.topHeader ul li:first-child {
    padding: 0;
    margin: 0;
    background: none;
}

.topHeader a {
    color: #fff;
    text-decoration: none;
    font-size: 0.75em;
}

.topHeader .globalSearch {
    background: url("../../img/sprites/content_sprite.png") no-repeat scroll 0 -28px transparent;
    float: right;
    padding: 0 0 2px 14px;
	min-width: 167px;
}

.topHeader .globalSearch .form-item,
.topHeader .globalSearch .form-actions {
	margin-top: 0;
	margin-bottom: 0;
}

.ie7 .topHeader .globalSearch {
    width: 169px;
}

.topHeader .globalSearch label {
    display: none;
}

.topHeader .globalSearch input {
    font-size: 0.75em;
}

.topHeader .globalSearch input[type="text"] {
    border: 0 none;
    float: left;
    height: 20px;
    margin-top: 4px;
    width: 130px;
}

.topHeader .globalSearch input[type="button"],
.topHeader .globalSearch input[type="submit"]{
    background: url("../../img/sprites/content_sprite.png") no-repeat scroll 0 -87px transparent;
    border: 0 none;
    height: 25px;
    text-indent: -999em;
    width: 32px;
    float: right;
    margin: 2px 0 0 5px;
}