.globalHeader {
    background: #fefbf6;
    text-align: center;
}

.globalHeader .wrapper {
    position: relative;
}

.globalHeader .logoWrapper {
    text-align: center;
    padding: 40px 0;
}

.globalHeader .logoWrapper h1 {
    font-size: 0.875em;
    color: #6c2d1f;
    font-family: Tahoma, Arial;
}

.ie7 .categoryResults li .hoverState li,
.ie7 .footer ul li {
    display:inline;
    zoom:1;
}

.globalHeader .linkVendorsSubmit {
	background: url("../../img/sprites/content_sprite.png") no-repeat scroll -401px -577px transparent;
	color: #256452;
	height: 70px;
	padding-top: 4px;
	position: absolute;
	right: 20px;
	text-decoration: none;
	top: 204px;
	width: 98px;
	z-index: 2;
}

.globalHeader .linkVendorsSubmit span {
	font-size: 0.937em;
}

.globalHeader .linkVendorsSubmit span span {
	font-size: 0.837em;
	display: block;
}
.primaryNavigation .menu-455,
.primaryNavigation .menu-456,
.primaryNavigation .menu-457 {
    background: url("../../img/sprites/content_sprite.png") no-repeat scroll right -275px transparent;

}

.primaryNavigation .inActive {
    color: #c4c4c4;
    cursor: default;
}