.content {
    background: url("../../img/bg_mainWrapper.jpg") left top repeat-x #f7eede;
}

.content .wrapper {
    position: relative;
}

.categoryWrapper {
    float: left;
    padding: 30px 0 30px 0;
    overflow: hidden;
    width: 100%;
    background: url("../../img/bg_seperator.jpg") center bottom no-repeat;
    margin-bottom: 20px;
    z-index: 1;
}

.hasSubMenu {
    padding-bottom: 60px;
}

.categoryWrapper ul {
    margin: 0 auto;
    width: 385px;
}

.categoryWrapper li {
    float: left;
    position: relative;
}

.categoryWrapper a {
    background: url("../../img/sprites/content_sprite.png") no-repeat scroll left -1090px transparent;
    cursor: pointer;
    float: left;
    font-size: 0.75em;
    padding: 7px 37px;
    float: left;
    font-family: "Lucida-Regular";
    color: #666666;
    text-decoration: none;
}

.categoryWrapper a.catPopular {
    background-position: -17px -1090px;
}

.categoryWrapper a.catCategory {
    background-position: -369px -1090px;
}

/* HOVER STYLES */

.categoryWrapper a:hover,
.categoryWrapper a:focus,
.categoryWrapper .active > a {
    background-position: -1px -951px;
    color: #fff;
}

.categoryWrapper a.catPopular:hover,
.categoryWrapper a.catPopular:focus {
    background-position: -29px -951px;
}
.categoryWrapper a.catCategory:hover,
.categoryWrapper a.catCategory:focus {
    background-position: -370px -951px;
}

.categoryWrapper .active > a {
    cursor: default;
}

.categoryWrapper .active > .catPopular {
    background-position: -29px -951px;
}

.categoryWrapper .active > .catCategory {
    background-position: -370px -951px;
}

.categoryWrapper li .subMenu {
    margin-left: 105px;
    position: absolute;
    top: 53px;
    width: 176px;
}

.categoryWrapper li .subMenu a {
    background-position: -1px -2772px;
    line-height: 1em;
    padding: 7px 24px;
}

.categoryWrapper li .subMenu a:hover,
.categoryWrapper li .subMenu a:focus {
    text-shadow: none
}

.categoryWrapper li .subMenu .active a {
    background-position: -1px -2819px;
    color: #666666;
    text-shadow: none;
}

.categoryWrapper .subMenu .catBundles {
    background-position: -238px -2772px;
}
.categoryWrapper .subMenu .catBundles:hover,
.categoryWrapper .subMenu .catBundles:focus,
.categoryWrapper .subMenu .active .catBundles {
    background-position: -237px -2819px;
    color: #666666;
}

.categoryWrapper li span {
    background: url("../../img/sprites/content_sprite.png") no-repeat scroll -171px -1090px transparent;
    float: left;
    height: 36px;
    width: 2px;
}

.js .categoryResults {
    clear: both;
}

.vocabulary-bundle-image-tags > .categoryResults,
.vocabulary-color > .categoryResults {
    margin-top: 70px;
}

.categoryResults ul li.thumb {
    cursor: pointer;
    float: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow:  0.8px 2px 2px 1px rgba(00, 00, 00, 0.1);
    -moz-box-shadow:  0.8px 2px 2px 1px rgba(00, 00, 00, 0.1);
    -o-box-shadow:  0.8px 2px 2px 1px rgba(00, 00, 00, 0.1);
    -ms-box-shadow:  0.8px 2px 2px 1px rgba(00, 00, 00, 0.1);
    box-shadow:  0.8px 2px 2px 1px rgba(00, 00, 00, 0.1);
    padding: 10px 10px 0 10px;
    text-align: center;
    position: relative;
    margin: 0 10px 20px 10px;
    /*min-width: 210px;*/
    min-height: 100px;
    background: url(../../img/loader.gif) center no-repeat #fff;
    width: 210px;
}

.categoryResults ul li img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #bebebe;
}

.categoryResults li h3{
    font-family: "Lucida-Bold";
    font-size: 0.75em;
    color: #e8747f;
    margin: 8px 0 0 0;
}
.categoryResults li h3 a,
.bundleResults li a {
    color: #e8747f;
    text-decoration: none;
}

.categoryResults li h3 a:hover,
.categoryResults li h2 a:hover {
    text-decoration: underline;
}

.categoryResults li h2 {
    font-family: "Lucida-Regular";
    font-size: 0.75em;
    color: #999999;
    max-width: 209px;
    margin-top: 5px;
}

.categoryResults li h2 a {
    color: #999999;
    text-decoration: none;
}

.categoryResults li .hoverState {
    background: rgb(139, 210, 190);
    background: rgba(139, 210, 190, 0.9);
    border-radius: 8px;
    left: 11px;
    padding: 10px;
    position: absolute;
    top: 11px;
    color: #fff;
    text-align: left;
    display: none;
}

.js .categoryResults li:hover .hoverState,
.js .categoryResults li:focus .hoverState {
    display: none;
}

.categoryResults li:hover .hoverState,
.categoryResults li:focus .hoverState {
    display: block;
}

.hoverState ul {
    bottom: 6px;
    overflow: hidden;
    position: absolute;
    width: 90%;
    text-align: center;
}

.hoverState li,
.hoverStateBundle li {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0 0 0 0;
    box-shadow: none;
    display: inline-block;
    float: none;
    line-height: 1.1em;
    margin: 0 2px;
    padding: 0;
    text-indent: -9999em;
    width: 36px;
    height: 36px;
}

.ie7 .hoverState ul {
    left: 42px;
    bottom: 10px;
}

.ie7 .hoverState ul li {
    float: left;
}

.hoverState li a,
.hoverStateBundle li a {
    background: url("../../img/sprites/content_sprite.png") no-repeat scroll -1px -1257px transparent;
    width: 36px;
    height: 36px;
    display: inline-block;
    float: left;
}

.hoverState li .btnFav,
.hoverStateBundle li .btnFav {
    background-position: -47px -1257px;
}

.hoverState li .btnAdd {
    background-position: -93px -1257px;
}

.aboutTopLinkWrapper {
    position: absolute;
    right: 0;
    bottom: 0;
}

.aboutTopLinkWrapper {
    position: absolute;
    right: 0;
    bottom: -72px;
}

.aboutTopLinkWrapper li {
    float: left;
    margin-right: 5px;
}

.aboutTopLinkWrapper li a {
    width: 65px;
    height: 65px;
    display: block;
    background: url("../../img/sprites/content_sprite.png") no-repeat scroll 0 -1391px transparent;
}

.aboutTopLinkWrapper li a.linkBackToTop {
    background-position: -132px -1391px;
}

.loadMoreAjaxLoader {
    text-align: center;
    width: 100%;
}