.heroCarousel ul li {
	text-align: center;
	position: relative;
}

.heroCarousel .wrapper {
	color: #BEBEBE;
	position: absolute;
	right: 13%;
	text-align: left;
	top: 152px;
	width: 302px;
}

.heroCarousel .heroContent p {
	font-size: 0.875em;
	margin-left: 18px;
	margin-top: 13px;
}

/***Welcome banner***/
.welcomeBanner .rsImg {
	width: 100%;
}
.welcomeBanner .wrapper {
    color: #ffffff;
    position: absolute;
    left: 5%;
    text-align: left;
    top: 152px;
    width: 405px;
}
.welcomeBanner .wrapper p {
	font-size: 0.875em;
	margin: 20px 0  35px 0;
	width: 340px;
}
.welcomeBanner .wrapper a {
	background: #ffffff;
	border-radius: 3px;
	color: #ec7e88;
	padding: 12px 15px 12px 15px;
	text-decoration: none;
}