.imageDetailsContent {
	text-align: center;
}

.imageDetailsContent em {
	font-style: normal;
	font-size: 0.687em;
}

.logoDiv {
    overflow: hidden;
}

.imageDetailsContent .vendorLogo,
.logoDiv img{
	margin: 30px 0 0;
    max-width: 240px;
    height: 100%;
}

.imageDetailsContent hr {
	border-bottom: 1px solid #e7e2e1;
}

.imageDetailsContent h3 {
	color: #256452;
	font-size: 1em;
	line-height: 1.5em;
}

.imageDetailsContent hr {
	margin-left: -15px;
	margin-right: -15px;
}

.imageDetailsContent .collectionDetails {
	text-align: left;
	overflow: hidden;
}

.imageDetailsContent .collectionDetails .item-list {
	float: right;
    width: 148px;
}

.imageDetailsContent .collectionDetails .item-list li {
	margin: 0;
}

.imageDetailsContent .collectionDetails > li {
	margin-bottom: 10px;
	display: inline-block;
	font-size: 0.75em;
	color: #353535;
}
.imageDetailsContent .collectionDetails > li a {
    color: #353535;
    text-decoration: none;
}

.imageDetailsContent .collectionDetails .colors > li a {
    border-radius: 11px 11px 11px 11px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2) inset;
    display: block;
    float: left;
    height: 22px;
    margin: 0 5px 5px 0;
    text-indent: -999em;
    width: 22px;
}

.imageDetailsContent .collectionDetails > li a:hover,
.imageDetailsContent .collectionDetails > li a:focus {
    text-decoration: underline;
}

.imageDetailsContent .collectionDetails > li > span {

	background: url("../../img/sprites/content_sprite.png") no-repeat scroll left -2283px transparent;
}

.imageDetailsContent .collectionDetails .category {
	color: #717171;
	display: inline-block;
	float: left;
	font-size: 0.916em;
	line-height: 2.1em;
	min-width: 65px;
	padding: 0 0 0 30px;
}

.imageDetailsContent .collectionDetails li ul {
	float: right;
	width: 145px;
	margin-top: 3px;
}

.imageDetailsContent .collectionDetails .priceTag,
.imageDetailsContent .collectionDetails .linkGoShop {
	margin-top: 3px;
	float: left;
	background: none;
}

.imageDetailsContent .collectionDetails .linkGoShop {
	color: #e8747f;
	margin-left: 43px;
	text-decoration: none;
}

.imageDetailsContent .collectionDetails .price {
	background-position: left -2430px;
}

.imageDetailsContent .collectionDetails .photo {
	background-position: left -2468px;
}

.imageDetailsContent .collectionDetails .vendors {
	background-position: left -2505px;
}

.imageDetailsContent .collectionDetails .tags {
	background-position: left -2541px;
}

.imageDetailsContent .collectionDetails .categoryTag {
	background-position: left -2283px;
}

.imageDetailsContent .collectionDetails .colors {
	background-position: left -2578px;
}

/* moreFromThisPost */

.moreFromThisPost h4,
.bundleWithThisImage h4{
	text-align: left;
}

.moreFromThisPost ul {
	overflow: hidden;
}
.moreFromThisPost li {
	float: left;
	margin-right: 12px;
}
.moreFromThisPost li:last-child {
	margin-right: 0;
}
.moreFromThisPost img {
	margin: 0;
}
/* bundles with this image */

.bundleWithThisImage .thumbCollection {
	width: 208px;
	margin: 0 auto;
}