.imageDetailsWrapper {
	padding-top: 20px;
	font-family: "Lucida-Regular",Arial,Tahoma;
	position: relative;
}

.imageDetailsWrapper .col1 {
	width: 704px;
}

.imageDetailsWrapper .col2 {
	width: 273px;
}

.imageDetailsWrapper .commentForm {
	margin-top: 30px;
}

.imageDetailsWrapper .commentForm select,
.imageDetailsWrapper .commentForm input[type="text"] {
	visibility: hidden;
}

.imageDetailsWrapper .commentForm textarea {
	margin: 0;
}

.imageDetailsWrapper .flayer {
	padding: 8px 0 11px 20px;
}

.imageDetailsWrapper .imageDetails {
	text-align: center;
	margin-top: 70px;
}

.imageDetailsWrapper .imageDetailsContent {
	margin-top: 70px;
}

.imageDetailsWrapper .imageDetails .imageDescription {
	text-align: left;
}


/* seperate out */

.loginMessage{
	background: url(../../../assets/img/bg_border.jpg) left top repeat-x;
	color: #3B3B3B;
	margin-top: 50px;
}

.loginMessage .inner {
	background: url(../../../assets/img/bg_border.jpg) left bottom repeat-x;
	padding: 30px 65px;
}

.loginMessage p {
	display: inline;
	margin-right: 20px;
	margin-bottom: 0;
}
.loginMessage a {
	color: #E8747F;
	text-decoration: none;
}