.heroCarousel ul li {
	text-align: center;
	position: relative;
}

.heroCarousel .wrapper {
	color: #BEBEBE;
	position: absolute;
	right: 13%;
	text-align: left;
	top: 152px;
	width: 302px;
}

.heroCarousel .heroContent p {
	font-size: 0.875em;
	margin-left: 18px;
	margin-top: 13px;
}