.imageDetailsUserControls {
	border-bottom: 1px solid #eedbbd;
	margin-bottom: 15px;
	padding-bottom: 10px;
	position: absolute;
	width: 100%;
}

.imageDetailsUserControls .imageDetailsUserControlsInner {
	width: 704px;
}

.imageDetailsUserControls .hoverState {
	display: inline-block;
}

.imageDetailsUserControls .socialIcons {
	float: right;
	margin-top: 10px;
}

.imageDetailsUserControls .socialIcons li {
	float: left;
}