.searchVendorPanel .searchPanel{
	background-color: #FFFFFF;
	padding: 14px;
	position: relative;
	text-align: center;
	top: -80px;
	-webkit-box-shadow:  0.8px 2px 2px 1px rgba(00, 00, 00, 0.1);
	-moz-box-shadow:  0.8px 2px 2px 1px rgba(00, 00, 00, 0.1);
	-o-box-shadow:  0.8px 2px 2px 1px rgba(00, 00, 00, 0.1);
	-ms-box-shadow:  0.8px 2px 2px 1px rgba(00, 00, 00, 0.1);
	box-shadow:  0px 1.3px 2px -1px rgba(00, 00, 00, 0.3);
}

.searchVendorPanel .searchPanel select {
	width: 400px;
}

.searchVendorPanel .btn_search {
	background: url(../../img/btn_search.png) left top no-repeat;
	border: 0 none;
	width: 121px;
	height: 38px;
	text-indent: -999em;
	margin-left: 20px;
}