.vendorDetailsWrapper {
    padding-top: 70px;
    font-family: "Lucida-Regular",Arial,Tahoma;
}

.vendorDetails {
    margin: 0;
}

.vendorDetails .breadCrumb {
    color: #6C2D1F;
    display: block;
    font-size: 0.813em;
    margin-bottom: 10px;
    margin-top: -24px;
    font-family: "Lucida-Bold",Arial,Tahoma;
}

.vendorDetails .vendorProfile {
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 60px;
    box-shadow: 0.8px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.vendorDetails .col1 {
    padding: 10px 10px 10px 15px;
    width: 270px;
}

.vendorDetails .col2 {
    border-left: 1px solid #D6D6D6;
    margin: 0;
    padding: 10px 10px 10px 20px;
    width: 409px;
}

.vendorProfile {
}

.vendorProfile .summary img {
    border: 1px solid #a2a2a2;
}

.vendorProfile .details h2 {
    color: #256552;
    font-weight: bold;
    margin-bottom: 20px;
}

.vendorProfile a {
    color: #e8747f;
    text-decoration: underline;
}

.vendorProfile .details strong {
    color: #e8747f;
    font-weight: normal;
    margin-bottom: 15px;
    display: block;
}

.vendorProfile .details ul {
    margin-top: 35px;
}

.vendorProfile .details ul li {
    background: url("../../img/sprites/content_sprite.png") no-repeat scroll left -2249px transparent;
    font-size: 0.813em;
    margin-bottom: 10px;
    padding: 3px 0 4px 36px;
}



.vLocations a,
.vLocations a,
.vCategory a {
    margin-left: 5px;
}

.vendorProfile .details .vCategory{
    background-position: left -2283px;
}

.vendorProfile .details .vPhone{
    background-position: left -2322px;
}

.vendorProfile .details .vWebsite{
    background-position: left -2358px;
}

.vendorProfile .details .vMoreInfo{
    background-position: left -2394px;
}

/*********/

.vendorProfile .summary ul{
    margin-top: 8px;
}

.vendorProfile .summary ul li {
    float: left;
    margin-right: 10px;
}

.vendorProfile .summary li a {
    background: url("../../img/sprites/content_sprite.png") no-repeat scroll left -2177px transparent;
    display: inline-block;
    height: 27px;
    text-indent: -999em;
    width: 27px;
}

.vendorProfile .vLike {
    width: 149px;
}

.vendorProfile .summary .vFBook a {
    background-position:  left -2107px;
}

.vendorProfile .summary .vTwitter a {
    background-position:  -36px -2107px;
}

.vendorProfile .summary .vEmail a {
    background-position:  -73px -2107px;
}

.vendorProfile .vLike span {
    background-color: #e2d7c3;
    border-radius: 10px;
    color: #745d5f;
    font-size: 0.75em;
    margin-left: 5px;
    padding: 5px 10px;
}

.vendorTabs {
    position: relative;
}

.vendorTabs .tabs li {
    background-position: -18px -338px;
    width: 142px;
}

.vendorTabs .tabs li:hover,
.vendorTabs .tabs li:focus {
    background-position: -18px -203px;
}

.vendorTabs .tabs .active,
.vendorTabs .tabs .active:hover,
.vendorTabs .tabs .active:focus {
    position: relative;
    top: 1px;
    background-position: -16px -203px;
}

.vendorTabs .tabs a {
    font-size: 0.813em;
    padding: 0 14px 0;
    margin-top: 13px;
}

.vendorTabs .tabContent {
    background-color: #FFFFFF;
    border: 1px solid #EADFCD;
    padding: 3% 4%;
    text-align: left;
    width: 92%;
    display: inline-block;
}

.vendorTabs .tabContent .mapContent {
    min-height: 200px;
    position: relative;
    overflow: hidden;
}

.vendorTabs .tabContent li.faqContent {
    min-height: 200px;
}

.vendorTabs .tabContent li.mapContent #map-canvas {
    position: static !important;
}

.vendorTabs .tabContent .categoryResults {
    margin-left: -28px;
    width: 732px;
}

/* separate out */

.relatedVendors {
    text-align: center;
}

.relatedVendors img {
    border: 1px solid #9f9f9f;
}

.relatedVendors h3 {
    color: #256552;
    font-size: 0.875em;
    font-family: 'Lucida-Bold', arial, tahoma;
    margin: 5px 0 3px 0;
}

.relatedVendors p,
.relatedVendors .knowMore{
    font-size: 0.687em;
}

.relatedVendors .knowMore {
    border-radius: 5px;
    background-color: #8bd2be;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
}

.relatedVendors .knowMore a {
    color: #fff;
    text-decoration: none;
}


.icons li {
    background: url("../../img/sprites/content_sprite.png") no-repeat scroll left -2177px transparent;
    float: left;
    padding: 3px 24px 3px 34px;
}

.icons li a {
    color: #6c2d1f;
    text-decoration: none;
    font-size: 0.812em;
    font-family: 'Lucida-Bold', arial, tahoma;
}

.icons .vDeal {
    background-position: -140px -2207px;
}

.icons .vDeal a {
    color: #34a39c;
}

.featured,
.view-vendors .views-row-first {
    background: #99d7c6; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5ZDdjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzk5ZDdjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #99d7c6 0%, #99d7c6 25%, #ffffff 60%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99d7c6), color-stop(25%,#99d7c6), color-stop(60%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #99d7c6 0%,#99d7c6 25%,#ffffff 60%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #99d7c6 0%,#99d7c6 25%,#ffffff 60%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #99d7c6 0%,#99d7c6 25%,#ffffff 60%); /* IE10+ */
    background: linear-gradient(to bottom,  #99d7c6 0%,#99d7c6 25%,#ffffff 60%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99d7c6', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

.ie7 .featured,
.ie8 .featured,
.ie7 .view-vendors .views-row-first ,
.ie8 .view-vendors .views-row-first {
    background-color: #99d7c6;
}

.featured strong,
.view-vendors .views-row-first strong {
    font-weight: normal;
    color: #fff;
    font-size: 0.75em;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
}

/* Faq content */

.faqContent a,
.faqContent .question {
    color: #e8747f;
    font-size: 0.96em;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
}
.faqContent .question {
    display: block;
    border-top: 1px solid #CCCCCC;
    margin-top: 10px;
    padding-top: 15px;
}

.divForm .question {
    border: 0 none;
    margin-top: 0;
    padding-top: 0;
}

.faqContent h3 {
    font-size: 1em;
}

.form-item-answer {
    margin-top: 0;
}

.form-item-answer label {
    font-size: 0.8em;
    font-weight: normal;
}

/* review content */

.reviewsContent .flayer {
    margin: 0 0 15px -29px
}

.reviewsContent .reviewList li {
    float: left;
    font-family: "Lucida-Regular",Arial,Tahoma;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d8d8d8;
}
.reviewsContent .reviewList li img,
.reviewsContent .reviewList li .reviewText {
    float: left;
}

.reviewsContent .reviewList li .reviewText {
    float: left;
    margin-left: 3%;
    width: 92%;
}

.reviewsContent .reviewText strong {
    color: #e8747f;
    font-weight: normal;
    font-size: 0.812em;
}

.reviewsContent .reviewText .date,
.reviewsContent .reviewText .ratingCount {
    color: #707070;
    font-size: 0.625em;
    display: block;
    line-height: 1em;
}
.reviewsContent .reviewText .ratingCount {
    display: inline;
    margin-left: 20px;
}

.reviewsContent .reviewText em {
    background: url("../../img/sprites/content_sprite.png") no-repeat scroll left -2283px transparent;
    color: #000000;
    display: block;
    font-size: 0.812em;
    font-style: normal;
    margin: 10px 0;
    padding: 2px 0 0 32px;
}

.reviewsContent .reviewText p {
    font-size: 0.687em;
    color: #303030;
}

.reviewsContent .reviewList .ratings li {
    padding: 0;
    margin-bottom: 0;
    border: 0 none;
}

.ratings li {
    background: url("../../img/sprites/rating_starts.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 21px;
    margin-right: 5px;
    text-indent: -999em;
    width: 21px;
}

.ratings li:hover {
    background-position: 0 -30px;
}

/* review form */

.commentForm {
    float: left;
}

.commentForm label {
    display: none;
}

.commentForm select, .commentForm input, .commentForm textarea {
    font-size: 0.75em;
    color: #b7b7b7;
    padding: 8px 5px 5px;
    width: 230px;
    margin-right: 10px;
}
.commentForm textarea{
    margin-top: 20px;
    width: 97%;
}
.commentForm input[type="button"] {
    background: none repeat scroll 0 0 #8BD2BE;
    border: 0 none;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    display: block;
    margin-top: 15px;
    width: 100px;
}

/* Board */

.bundleResults,
.tabContent .bundleResults {
    overflow: hidden;
}
.tabContent .bundleResults {
    width: 726px;
}

.tabContent .bundleResults {
    margin-left: -20px;
}

.bundleResults > ul > li,
.categoryList > li {
    background: url("../../img/loader.gif") no-repeat scroll center center #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #ede1cc;
    /*cursor: pointer;*/
    float: left;
    /*margin: 0 10px 20px;*/
    min-height: 100px;
    padding: 10px 10px;
    position: relative;
    text-align: center;
    margin:  0 10px 20px 0;
}

.bundleResults > ul > li .thumbCollection {
    cursor: pointer;
}

.bundleResults ul li img {
    border-radius: 0;
    border: 0 none;
    width: 66px;
    float: left;
    margin: 3px 0 0 0;
}

.bundleResults .thumbCollection img:nth-child(3) {
    margin-right: 6px;
    margin-left: 5px;
}

.bundleResults li .hoverStateBundle {
    display: block;
}

.bundleResults > ul > li {
    min-height: 272px;/*266*/
    width: 210px;
    background-image: none;
}

.bundleResults .thumbCollection {
    height: 183px;
    overflow: hidden;
}

.bundleResults > ul > .addNewBundle {
    border: 2px dotted #c2b49b;
    /*min-height: 0;*/
    background: url("../../img/sprites/content_sprite.png") no-repeat scroll 75px -3062px transparent;
}

.bundleResults > ul > .addNewBundle a {
    display: block;
    padding: 158px 30px 71px;
    color: #c2b49b;
    text-decoration: none;
    font-family: "Lucida-Bold";
    font-size: 0.812em;
}

.bundleResults > ul > li:last-child {
    margin-right: 0;
}

.bundleResults .userLikes {
    background: url("../../img/sprites/bg_bunbleShadow.png") no-repeat scroll center bottom transparent;
    margin-bottom: -25px;
    padding-bottom: 23px;
}

.bundleResults hr {
    background-color: #f3f3f3;
    margin: 0 0 10px;
}

.bundleResults h3 {
    clear: both;
    color: #E8747F;
    font-family: "Lucida-Bold";
    font-size: 0.75em;
    margin: 8px 0 0;
}

.bundleResults h2 {
    color: #999999;
    font-family: "Lucida-Regular";
    font-size: 0.75em;
    margin-bottom: 8px;
}

.bigThumb {
    height: 110px;
    overflow: hidden;
}
.vendorDetails .fnTabs .profileContent .btn_small_pink {
    margin-top: 0;
}

.vendorDetails textarea {
    font-size: 0.75em;
    resize: none;
}

.primaryWrapperDiv {
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-top: 1px solid #d3d3d3;
}

.primaryWrapperDiv .addressTitle {
    font-size: 1em;
}

.vendorProfile a.addNewLocation {
    background-color: #e8747f;
    border: 0;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 0.75em;
    padding: 5px 10px;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 10px;
}

.vendorProfile #serviceCountry {
    padding-top: 20px;
    border-top: 1px solid #d3d3d3;
}

.vendorDetails .vendorProfile .user-pic {
    min-height: 120px;
    min-width: 150px;
    /*background: url(../../img/loader.gif) left top no-repeat #fff;*/
}

input[type="file"] {
    width: 70%;
    font-size: 0.75em;
}

#edit-picture a {
    font-size: 0.75em;
}

.enterResponse {
    display: inline-block;
    /*margin-bottom: 20px;*/
}

.enterResponse a,
.editAnswer a {
    background-color: #D3D3D3;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 0.75em;
    padding: 3px 10px 1px 10px;
    text-decoration: none;
}