.categoryList > li {
	padding: 20px;
	box-shadow: 0.2px 0 0 1px rgba(0, 0, 0, 0.1);
	border: 1px solid #fff;
	background-color: #f7eede;
	margin-bottom: 30px;
}

.categoryList > li img {
	border: 1px solid #d8c9ae;
}

.categoryList > li h4 {
	color: #907A52;
	font-family: "Lucida-Bold";
	font-size: 0.75em;
	margin: 5px 0;
    width: 147px;
    min-height: 45px;
}

.categoryList > li span {
	background: url("../../img/sprites/bg_bunbleShadow.png") no-repeat scroll center bottom transparent;
	display: block;
	margin-bottom: -35px;
	padding-bottom: 14px;
}

.categoryListCompactView {
	float: left;
	background: url("../../img/bg_seperator_big.jpg") no-repeat scroll center bottom transparent;
	margin-bottom: 25px;
	width: 100%	
}

.categoryListCompactView > li {
	background: none;
	min-height: auto;
	padding: 10px;
}

.categoryListCompactView > li a {
	display: block;
	line-height: 1em;
}

.categoryListCompactView > li img {
	width: 66px;
    height: 66px;
}

.categoryListCompactView > li span {
	display: none;
}

.categoryListCompactView > li h4 {
	background: url("../../img/sprites/content_sprite.png") no-repeat scroll 40px -2960px transparent;
	font-family: "lucida-regular";
	font-size: 0.55em;
	line-height: 1.3em;
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 1;
	display: none;
}

.categoryListCompactView > li h4 span {
	border-radius: 5px 5px 5px 5px;
	padding: 5px;
	width: 76px;
	background: #fff;
	display: block;
	margin: 6px 0 0;
	border: 1px solid #e7dbc5;
	color: #E8747F;
}

.categoryListCompactView .genericContainer1:hover h4,
.categoryListCompactView .genericContainer1:focus h4{
	display: block;
}