.bundleDetailsContent {
	padding-top: 70px;
	font-family: "Lucida-Regular",Arial,Tahoma;
}

.bundleDetailsContent .col1 {
	width: 750px;
}

.bundleDetailsContent .col2 {
	width: 227px;
}

.bundleDetailsContent .imageDetailsContent h2 {
	color: #e8747f;
	font-family: "Lucida-Bold",Arial,Tahoma;
	text-align: left;
}

.bundleDetailsContent .imageDetailsContent p {
	font-size: 0.687em;
	text-align: left;
}

.bundleDetailsContent .imageDetailsContent .genericContainer1 {
	padding: 15px 15px;
}

.bundleDetailsContent .imageDetailsContent .collectionDetails {
	margin-left: -5px;
	width: 218px;
}

.bundleDetailsContent .collectionDetails .category {
	min-width: 50px;
    margin-right: 5px;
}

.bundleDetailsContent .collectionDetails li ul,
.bundleDetailsContent .collectionDetails li ul li {
	width: 130px
}