/*
-----------------------------------------------
LBi CSS: Reset
Special thanks to Eric Meyer http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
Version: 1.0
----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {
	background:#FFFFFF;
	font-family:arial;
	font-size:62.5%;
	margin:0 auto;
	color:#454545;
}
/* remember to define focus styles! */
:focus {
	/*outline: 0;*/
}
ol, ul {
	list-style: none;
	margin:0;
	padding:0;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* Cope with font squishing */
li li, li p, li dt, li dd, li address, 
dt li, dd li, dt p, dd p,
p, blockquote p, 
th, td, td td, td li, td dt, td dd
{ font-size:1em; }
p{ color:#333333;}
h1, h2, h3, h4{ font-weight:normal;}
a { color:#005293; text-decoration: none;}
a:hover { text-decoration: underline;}