#wrapper{
	/*width: 780px;*/
	width:1200px;
	margin: 0 auto;
	/*position: relative;*/
	font-size:1.2em;
}

#container{
	padding:20px 0 20px 0;
	position: relative;
}

h1{
	padding-bottom:20px;
}

h2{
	font-size: 2em;
    margin-bottom: 10px;
}

a{
	/*color:#ff0000;*/
	color:#8699d9;
}

.contentWrapper{
	background:#f5f5f5;
	padding:20px;
	width:740px;
	float:left;
	
}

.reqNotification{
	float:right;
	font-size:0.9em;
}

.reqNotification span{
	color:#ff0000;	
}

.contentWrapper form{
	padding:20px 0 0 0;
}

.contentWrapper form label{
	float:left;
	width:100px;
	padding-top:10px;
	font-size:1.2em;
}

.contentWrapper form input{
	display:block;
	margin-bottom:10px;
	border:1px solid #cecece;
	padding:8px 3px;
	width:204px;
	font-size:14px;
}

.contentWrapper form .checkBx{
	margin-left:96px;
	padding:10px 0 15px;
}

.contentWrapper form .checkBx input{
	width:auto;
	padding:0;
	float:left;
}

.contentWrapper form .checkBx label{
	font-size:1.0em;
	float:none;
	display:block;
	padding:2px 0 0 0;
	width:auto;
}

.req{
	color:#ff0000;
}

.errTextBox{
	border:1px solid #ff0000 !important;
}

.errMsg{
	float:right;
	position:relative;
	top:-35px;
	width:421px;
	color:red;
}

.linkForgotPass{
	margin-left:99px;
}

.btn_Login{
	margin-left:99px;
}

.btn_expExl{
	margin:20px 0 0 0;
	float:right;
	display:block;
}

.topUserDetails{
	float:left;
	width:98%;
	position:relative;
	top:-60px;
	/*padding-bottom:20px;*/
}

.topUserDetails ul{
	float:right;
}

.topUserDetails ul li{
	float:left;
	background:url("../images/bg_seperatorGrey.gif") right 2px no-repeat;
	padding-right:10px;
	margin-right:10px;
}

/************** Event Details Table***********/

.eventWrapper{
	margin-top:40px;
	position:relative;
	word-wrap: break-word !important;
}

.eventRows{
	height:400px;
	overflow-y:scroll;
}

.eventDetails{
	border:0 none;
	border-left:0px solid #ccc;
	display: table;
    float: left;
}

.eventDetails thead{
	
}

.eventDetails thead th.userName{
}

.eventDetails thead th.gender{
}

.eventDetails thead th.maritalStatus{
}

.eventDetails thead th.birthDate{
}

.eventDetails thead th.profession{
}

.eventDetails thead th.skinType{
}

.eventDetails thead th.benefits{
}
 
.eventDetails thead th.skinType{
}

.eventDetails thead th.productsUsed{
}

.eventDetails thead th.neutrogenaProducts{
}

.eventDetails thead th.subscription{
}
 
.eventDetails thead th.mobile{
} 

.eventDetails thead th.address{
}

.eventDetails thead th.email{
}

eventDetails thead tr{
	border:0 none;
	border-bottom:1px solid #ccc;

}


.eventDetails thead tr th{
	border:1px solid #ccc;
	border-bottom:0 none;
	background-color:#f5f5f5;
	cursor:pointer;
}

.eventDetails tr,.eventDetails th{
	padding:10px 2px;
	vertical-align:middle;
	word-spacing:normal;
}	
.eventDetails tbody tr.even{
	background-color:#f5f5f5;
}

.eventDetails th{
	font-size:1em;
	font-weight:bold;
	padding:5px;
}
.eventDetails td{
	border: 1px solid #CCCCCC;
 	padding: 5px;
    /*word-wrap: break-word !important;   float: left;*/

}

th.header{
	background:url("../images/small.gif") no-repeat scroll right 50% transparent;
}

th.headerSortUp{
	background:url("../images/small_asc.gif") no-repeat scroll right 50% transparent;	
}

th.headerSortDown{
	background:url("../images/small_desc.gif") no-repeat scroll right 50% transparent;
}

/************** Global definations ***********/
.lastLink{
	margin-right:0 !important;
	padding-right:0 !important;
	background:none !important;
}

.hiddenText{
	display:none;
	float:left;
	overflow:hidden;
	text-indent:-999999em;
}
/***********************Event form ***********************/
.strechbgColor{ width:100%; display:block}
.eventForm{ width:700px; background-color:#f9d6b5; padding:10px; color:#666666; margin:0 auto}
.eventForm table td{ padding-bottom:10px}
.eventForm table td input{ /*width:200px; height:18px;*/ font:12px Arial, Helvetica, sans-serif}
.eventForm table td .textarea{ width:200px; height:60px; font:12px Arial, Helvetica, sans-serif;  resize: none;}
.eventForm table td label{ font-weight:bold}

.eventForm .submitBtn{ background-color:#FF3333; color:#fff; border:1px solid #FF3333; font:bold 13px  Arial, Helvetica, sans-serif; padding:5px 0 10px 0; width:150px; height:30px}

table.contactDetails tr.odd{
	background-color: #f5f5f5;
	border: 1px solid #CCC;
}	

table.eventDetails tr:hover td{
	background-color:#f7f3f7;
}

table.contactDetails tr:hover td{
	background-color: #fff;
}
table.contactDetails tr:hover th{
	background-color: #f5f5f5;
}
a.viewContactDetails{
	width:95px;
	height:25px;
	display:block;
	background:transparent url(../images/btn_view.gif) no-repeat left top !important;
}
a.viewContactDetails span{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
a.viewContactDetails:hover{
	background:transparent url(../images/btn_view.gif) no-repeat left -25px;
}
.up a.viewContactDetails:link, .up a.viewContactDetails:active, .up a.viewContactDetails:hover{
	background:transparent url(../images/btn_view.gif) no-repeat left -50px;
}





















/********************************* Events Tabs  CSS******************************************/
.formContainer{
	width:600px;
	padding:10px 0;
	margin:0 auto;
	background-color: #F9D6B5;
    border: 1px solid #999999;
}
.tabs{
	width:600px;
	margin:0 auto;
	overflow:hidden;
}
div.tabs li{
	border:1px solid #999999;
	border-bottom:none;
	float:left;
	padding:4px 4px 0 4px;
	margin:0 2px 0 0;
}
.tabs li a{
	color:#999999;
	text-decoration:none;
}
.tabs li a.active{
	color:#000000;
	text-decoration:none;
}
.form-field{
	margin:20px 10px 0 0;
	float:left;
}
.form-field  label{
	color:#000;
	font-weight:bold;
	display:block;
}
.picContent,
.videoContent,
.linkContent{
	padding:10px;
	overflow:hidden;
}
.formContainer h2{
	margin-bottom:5px;
	padding-bottom:0;
	color:#000;
	font-size:2.4em;
}
.formContainer p{
	color:#000;
}
.formContainer .error{
	/*display:none;*/
	color:#ff0000;
	font-weight:bold;
}
.formContainer input.field-type-text{
	width:310px;
}
.formContainer .linkContent input.field-type-text{
	width:260px;
}
.formContainer input.field-type-file{
	width:220px;
	background-color:#e3e3e3;
	color:#4f4f4f;
	text-transform:uppercase;
}
input.button{
	font-weight: bold;
    text-transform: uppercase;
	background-color: #4f4f4f;
    color: #fff;
}
#gallery input.field-type-text{
	width:225px;
	 margin-bottom: 10px;
}
#gallery input.button{
	width:100px;
	margin:0;
	padding:3px;
	text-transform:none;
}
#gallery h2{
	font-size: 2.4em;
	padding-bottom:0;
}
#gallery p{
	font-size: 1.4em;
	padding-bottom:15px;
}
#gallery label{
	font-size:1.4em;
}
#gallery .form-field{
	margin:10px 10px 0;
	clear:both;
}
#gallery .form-field .delete{
	margin:0 0 20px 238px;
}
.formContainer .action{
	margin-top:10px;
	padding:10px 10px 0;
	overflow:hidden;
	clear:both;
	text-align:right;
	border-top:1px solid #ccc;
}	
.formContainer .action input{
	width:100px;
	margin:10px;
}
.title,
.path{
	float:left;
	width:196px;
}
.title span,
.path span{
	color:#FF0000;
	display:block
}
input{
	border:1px solid #CCCCCC;
	margin-right:5px;
	padding:3px 2px; 
	width:180px;
}
/* carousel */
.carousel{
	width:600px;
	padding:10px 0;
	margin:0 auto;
}

/*** Google Map***/
#content .addressTitle{
    margin: 10px 0 4px 0;
}
#content .addressText{
    font-size:0.9em;
    margin: 0;
}


.pagination{
}
.page-link{
float:left;
background-color:darkgray;
border:1px solid black;
text-align:center;
color:#ffffff;
}
.page-link a,.page-link span{
padding:5px 8px 5px 8px;
display:block;
color:#ffffff;
}
.page-link span{
background-color:#ffffff;
color:#000000;
}
.page-link:hover{
background-color:#ffffff;
color:#000000;
}
.page-link:hover a{
color:#000000;
}
.searchContainer{
	float:left;
}
.searchContainer li input{
	padding:0;
}
.searchContainer li.btnSearch input{
	cursor:pointer;
	padding:0;
	width:auto;
	background-color: #FF0000;
    color: #FFFFFF;
    padding: 3px;	
}
.searchContainer li.btnSearch{
	
}
.searchContainer li{
	float:left;
	margin:0 9px 0 0;
}
.searchContainer select{
	 border: 1px solid #CCCCCC;
	 padding: 0px 0;
	 width:180px;
}
.topUserDetails ul li.logOut{
	background:none;
}
ul.searchContainer li a {
    float: right;
}
.searchContainer li input#dtfrm, .searchContainer li input#dttill {
    width: 145px;
}
.info{ font-weight:bold; padding-bottom:10px}
