/* Invitation form panel*/
body {
    background-color: #EEEEEE;
    background-image: url("../../img/bg.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    margin: 0;
}
.skipLinks {
	display: none;
}
.topHeader {
	background: none repeat scroll 0 0 #E8747F;
    font-family: "Lucida-Regular";
    padding: 6px 0;
}
.infoBlock {
	text-align: center;
}
.infoBlock img {
	margin-top: 45px;
}
.infoBlock h1 {
	color: #ffffff;
	font-family: lucida grande;
	font-size: 1.75em;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 18px;
	width:580px;
}
.wrapper {
    margin: 0 auto;
    width: 1000px;
}
.topHeader a {
    color: #FFFFFF;
    font-size: 0.75em;
    text-decoration: none;
}
.invitationPanel {
	background: #ffffff;
	border: 5px solid #8B8B8B;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 15px;
	width: 420px;
}
.btn_pink, .btn_pink span {
	background: url(../../img/button_sprite.png) no-repeat scroll left top transparent;
	color: #FFFFFF;
    display: inline-block;
    font-family: "Lucida-Regular",Arial,Tahoma;
    padding: 0 0 1px 20px;
    text-decoration: none;
}
.invitationPanel .btn_pink span {
    color: #FFFFFF;
    display: inline-block;
    font-family: "Lucida-Regular",Arial,Tahoma;
	background-position: right -44px;
	padding: 12px 20px 9px 0;
}
.invitationPanel h2 {
	border-bottom: 1px solid #cccccc;
	color: #d96c76;
	font-size: 1.25em;	
	margin-bottom: 25px;
	padding: 0 0 13px 0;	
	text-align: center;
}
.invitationPanel .selection {	
	text-align: center;
}
.invitationPanel .selection li {
	display: inline-block;
	margin: 10px 0 10px 0;
}
.invitationPanel .selection .active {
	background-image: none;
	background: #ffffff;
	border: 1px solid #d7858d;
	border-radius: 3px;
}
.invitationPanel .selection .active span {
	background-image: none;
	background: #ffffff;
	color: #d96c76;
	padding: 8px 20px 5px 0;
}
.invitationPanel form {
	margin: 0 auto;
	width: 365px;
}
.invitationPanel label {
    color: #E8747F;
    display: inline-block;
    font-size: 0.9375em;
    width: 120px;
}
.invitationPanel input {
	border: 1px solid #bebebe;
	border-radius: 3px;
	color: #9A9595;
    font-size: 0.75em;
    padding: 5px;
    width: 225px;
}
.invitationPanel form li {
	margin-bottom: 20px;
	margin-top: 0;
}
.invitationPanel .loginCTA {
    display: inline-block;
    margin: 0 0 15px 125px;
}
.invitationPanel .loginCTA input {
    background: url(../../img/sprites/btn_inputs.png) left -112px no-repeat;
	border: 0 none;
	width: 130px;
	height: 39px;
	text-indent: -999em;
}
.invitationPanel .userSignup,
.invitationPanel .vendorSignup {
	display: none;
}